body {
	width: 390px;	/* 5 + 390 + 5 == 400 */
	height: 590px;
	margin: 5px;
	word-wrap: break-word;
	user-select: none;
}
body.extend {
	width: 790px;	/* 5 + 790 + 5 == 800 */
}

button img {
	vertical-align: bottom;
}

ul {
	list-style: none outside;
	margin: 0;
	padding: 0;
}

hr {
	border-style: ridge;
    margin: 0.2em 0;
}

#result-panel {
	/* position: relative; */
	overflow: auto;
	transition: all 0.3s linear;
}

#result-panel [type=checkbox] {
	float: right;
}

#result-list li {
	position: relative;		/* 드래그앤드랍할 때 표시줄의 베이스 */
	cursor: default;
	margin-right: 0.2em;
}

#result-list li.ui-selected,
#result-list li.ui-selected-fix,
.ui-selecting {
	background-color: #eaf5fd;
    /* border-color: #e3edf5; */
	/* color: #15C; */
}

#result-list li.ui-selected a,
#result-list li.ui-selected-fix a {
	border-color: #e3edf5;
	color: #15C;
}

#result-list li.drop-selected a {
	background-color: #eaf5fd;
	border-color: #e3edf5;
	/* outline: red solid 1px; */
	color: #15C;
}

#result-list li.group.list-hover,
#result-list li.list-hover a,
#action-hover-toolset a {
	background-color: rgba(231, 233, 236, 0.5);
    border-color: rgba(225, 227, 230, 0.5);
	
}

#result-list li.group.group-hide.group-partial-selected {
	background-color: #f5fafe;
}

#result-list li.group.group-hide.group-full-selected {
	background-color: #eaf5fd;
}

#result-list li.group:hover,
#result-list li:hover a {
	/* background-color: rgba(231, 233, 236, 0.5);
    border-color: rgba(225, 227, 230, 0.5); */
	/* border-radius: 2px; */
	/* cursor: pointer; */
	
	/* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
}

#result-panel #action-hover-toolset a:hover {
	/* border-color: rgba(225, 227, 230, 0.5); */
}
 
 
 
#result-panel::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}
#result-panel::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}
#result-panel::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bbb;
}
#result-panel::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}

.sort-selected,
.cut a div {
	opacity: 0.3;
}

#footer-panel {
	position: absolute;
	width: 100%;
	height: 15px;
	border-top: 1px solid #ced4da;
	bottom: 0;
	font-size: 0.9em;
	cursor: default;
}
#footer-panel div:first-child {
	display: inline-block;
}
#footer-panel div:last-child {
	float: right;
}
#footer-panel div .search-info {
	padding: 0 3px;
}




.explore-hierarchy-arrow {
	color: lightgray;
	font-size: 0.8em;
	margin-right: 8px;
}



.explore-arrow {
	position: absolute;
	right: 0;
	padding-left: 5px;
}
.explore-arrow .explore-backward,
.explore-arrow .explore-forward {
	color: lightgray;
}


.explore-hierarchy {
	/* max-width: 90%; */
    display: inline-block;
}

#explore-panel .explore-view {
	text-decoration: underline;
}

#search-set > span {
	color: gray;
}

#search-history {
	cursor: default;
	border: solid 1px #ced4da;
	position: absolute;
	background-color: white;
	max-height: 270px;
	overflow: auto;
	z-index: 15;
	position: relative;
}

#explore-sibling,
#explore-history {
	cursor: default;
	border: solid 1px #ced4da;
	position: fixed;
	background-color: white;
	margin: 0 5px 0 0;	/* margin between box and right side */
	max-height: 300px;
	min-width: 50px;
	max-width: 250px;
	overflow: auto;
	white-space: nowrap;
	z-index: 10;
}

#search-history li,
#explore-sibling li,
#explore-history li {
	padding: 1px 4px;
	overflow: hidden;
    text-overflow: ellipsis;
}

#search-history li:hover,
#explore-sibling li:hover,
#explore-history li:hover {
	background-color: #487dcc;
	color: white;
}

.explore-sibling-top {
	background-color: #c8d5e8;
	color: white !important;
}

.datepicker {
	width: 115px;
	font-size: 1em;
	/* transition: all 0.3s linear; */
}
.datepicker:hover {
	border-color: lightgray;
}

a > span {
  padding: 0 3px;
}
#result-panel a > div > span {
  padding-left: 5px;
}
#result-panel ul a {
	display: block;
	overflow: hidden;
	padding: 0.2em 0.6em;
	box-sizing: border-box;
	text-decoration: none;
	/* color: #15C; */
	border: 1px solid transparent;
	background-position: 0.3em 0.3em;
	background-repeat: no-repeat;
	/* transition: all 0.1s linear; */
  
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
	
	color: #212529;
	cursor: default;
}

#result-panel #action-hover-toolset a {
	border-left: 0;
	padding: 0.2em 0.1em;
}

#option-panel {
	position: absolute;
    background-color: white;
    /* background-color: #f2f0e8; */
    box-shadow: 2px 3px 5px grey;
    /* margin-right: 25px; */
    /* width: 100%; */
    margin-left: 80px;
    /* margin-top: -3px; */
    padding-left: 5px;
    border-radius: 5px;
    padding-bottom: 2px;
    border: solid 1px #ced4da;
    border-bottom: solid 1px #ced4da;
    /* height: 50px; */
	z-index: 10;
}


#search-option-panel {
	padding: 5px;
}


#result-list li.group {
	/* margin: 0.3em 0 0.2em 0; */
	
	display: flex;
	margin-top: 3px;
    padding: 0 3px;
    font-size: 0.8em;
    font-weight: normal;
    border-bottom: solid 1px #EEEEEE;
    color: #999999;
}

.menu-item {
	display: block;
	padding: 0.2em 0.5em;
}
.menu-item-disabled {
	color: lightgray;
}
.menu-item:not(.menu-item-disabled):hover {
	color: red;
}
.menu-item span:first-child {
	width: 15px;
	text-align: center;
}
.menu-item span:last-child {
	padding-left: 5px;
}


#result-list .group .group-view {
	padding: 0;
	position: absolute;
    right: 0;
	border: 0;
}

#manipulate-list {
	position: absolute;
	float: right;
}

#explore-panel {
	border-bottom: 1px solid #ced4da;
	box-shadow: 0px 9px 12px -10px #CCC;
    padding: 3px 1px;
}

#explore-panel a {
	text-decoration: none;
	/* font-weight: bold; */
}
#explore-panel .explore-hierarchy a:hover {
	color: red;
}

.dateclick {
	display: inline-block;
}

.result-icon {
	vertical-align: bottom;
	cursor: pointer;
}

#action-hover-toolset {
	float: right;
	display: flex;
	/* border-right: 1px solid rgba(225, 227, 230, 0.5); */
	/* margin-right: 5px; */
}



.menu {
	position: absolute;
	min-width: 100px;
	padding: 3px;
	background-color: white;
	border: 1px solid #ced4da;
	box-shadow: 2px 3px 5px grey;
	white-space: nowrap;
	z-index: 25;
}

.menu li {
	border: solid 1px transparent;
}

.menu li:hover {
	cursor: default;
}

.menu li:not(.menu-item-disabled):hover,
.menu li:not(.menu-item-disabled):hover {
	background-color: rgba(231, 233, 236, 0.5);
    border-color: rgba(225, 227, 230, 0.5);
}

#modal-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
	z-index: 20;
}

#result-item-editor {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 450px;
	padding: 10px;
	background-color: white;
	border: 1px solid #ced4da;
	box-shadow: 2px 3px 5px grey;
	z-index: 20;
}

#editor-icon,
#info-icon {
	/* vertical-align: text-top; */
}

#result-item-editor input {
	float: right;
	left: 100px;
	width: 85%;
	max-width: 400px;
	margin-bottom: 10px;
}



#result-item-editor h3,
.window h3 {
	display: inline-block;
    margin: 5px 0 15px 5px;
}

.editor-button,
.info-button,
.about-button {
	float: right;
	cursor: default;
}

.editor-button span,
.info-button span,
.about-button span {
	display: inline-block;
	padding: 5px;
	margin-top: 7px;
    border: 1px solid #ced4da;
    width: 4em;
    text-align: center;
}

.editor-button span:hover,
.info-button span:hover,
.about-button span:hover {
	background-color: rgba(231, 233, 236, 0.5);
	color: red;
}

.window {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 22em;
	padding: 10px;
	background-color: white;
	border: 1px solid #ced4da;
	box-shadow: 2px 3px 5px grey;
	z-index: 20;
	user-select: auto;		/* allow for windows to be selectable */
}

.window div {
	margin-bottom: 6px;
}

.window div span:last-child {
	float: right;
}

#info-title {
	border-bottom: 1px solid lightgray;
    padding: 3px;
}

.placeholder {
}
.placeholder:after {
    background-clip: padding-box;
    background-color: #9c9c9c;
    border: 4px solid #9d9d9d;
    border-bottom-color: transparent;
    border-radius: 0px;
    border-top-color: transparent;
    /* box-sizing: border-box; */
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 10;
    opacity: 0.4;
	bottom: -6px;
}
.placeholder-none {
	display: none;	/* for explore siblings sorting not to make any fuss */
}

#result-list {
	float: right;	/* escape margin collapsing */
    width: 100%;
    min-height: 100%;	/* wihtout min-, we can't sort onto the other frame scrolled */
}


#result-list a div {
	display: inline-block;
}

/* 폴더에서 드래그를 인식하는 영역 */
.droppable-area {
	position: absolute;
	width: 100%;
	height: 8px;
	top: 50%;
	transform: translateY(-50%);
	z-index: -100;
}

.frame {
	display: inline-block;
	position: absolute;
	vertical-align: top;
	
}

#left-frame {
	height: 590px;
	left: 5px;
    width: 282px;
    height: 590px;
}
#right-frame {
	/* left: 260px; */
	height: 590px;
	right: 5px;
    width: 390px;
	/* z-index: 1; */
}
#separator {
	display: inline-block;
	position: absolute;
	left: 289px;
	/* margin: 5px 0; */
	height: 590px;
    width: 4px;
	background: red;
    vertical-align: top;
	z-index: 5;
	background: #dedede;
}
#separator:hover {
	cursor: w-resize;
	background: #b5b5b5;
}
#containment {
	display: inline-block;
	/* left: 5; */
	left: 150px;
	position: fixed;
	/* width: 388px; */
	width: 252px;
	height: 100%;
	vertical-align: top;
	z-index: -5;
}


#header-panel {
	position: relative;
	height: 22px;
	border-bottom: 1px solid #ced4da;
	padding: 2px 2px 0px 2px;
	white-space: nowrap;
}

#view-type {
	width: 100%;
}


.view-active {
	transition: all 0.3s linear;
	background-color: #ddf5d4;
}
.view-active-not-possiable {
	transition: all 0.3s linear;
	background-color: #efd6d6;
}

#left-frame #result-panel .help-view {
	text-decoration: none;
	padding: 5px;
	font-size: 14px;
}

#left-frame #result-panel .help-view a {
	text-decoration: none;
}

.root-folder {
	margin-top: 5px;
}
.root-folder a:hover {
	color: red;
}

.empty {
	color: gray;
	padding: 2px 12px;
	display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}








.menu {
	display: inline-block;
	float: left;
}

.arrowclick {
	display: inline-block;
}

.search-extend-trigger {
	display: inline-block;
}




#search-set {
	/* border: solid #ced4da; */
    /* border-width: 0 0 1px; */
    /* display: flex; */
    
    /* height: 22px; */
    /* margin-bottom: 3px; */
	
	
	display: block;
	/* position: relative; */
}
#search-set #search-editor {
	border: 0;
    color: #212529;
    font-size: 12px;
    outline: 0;
    padding: 0 2px;
	/* border-bottom: solid 1px #EEEEEE; */
	transition: background-color 0.4s /* 0.2s */ linear;	/* delay for clear to work */
	    transition: width 0.25s cubic-bezier(0.21, 0.4, 0.53, 0.78), background-color 0.25s linear, border 0.4s linear;
	background-color: #f4f5d4;
	
	/* max-width: 300px; */
    width: 80px;
	height: 16px;
	
    text-overflow: ellipsis;
	/* border-bottom: 1px solid transparent; */
    position: relative;
}
#search-set #search-editor:hover {
	background-color: #fafbee;
}
#search-set #search-editor:focus {
	background-color: #fff;
}

#icon-calendar-content-buttons > button,
#search-set > span,
.option-icon {
    padding: 2px;
    text-align: center;
	vertical-align: bottom;
    border: 1px solid #d1d1d1;
    background-color: #f4f5d4;
    border-radius: 5px;
	box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1), inset 1px 1px 4px 0px rgba(255, 255, 255, 0.6);
	color: #212529 !important;
	transition: border-color 0.15s ease-in-out,
		background-color 0.15s ease-in-out;
}
.option-icon {
	width: 14px;
    height: 14px;
}

#icon-calendar-content-buttons button:hover, 
.option-icon.pressed {
	border-color: #a5a5a5;
	background-color: #d9e2bb;
}

#icon-calendar-content > div > div {
	position: relative;
	display: inline-block;
}

#icon-calendar-content-buttons {
	position: relative;
	display: flex;
	margin-bottom: 5px;
}
#icon-calendar-content-buttons > button {
	cursor: pointer;
}
#icon-calendar-content-buttons > button:not(:last-child) {
	margin-right: 5px;
	font-size: 0.8em;
}
#icon-calendar-content-buttons > button:last-child {
	position: absolute;
	/* height: 100%; */
	right: 0;
	/* padding: 0 8px; */
	padding: 3px 5px;
}
#icon-calendar-content-buttons > button:focus {
	outline: 0;
}

#icon-calendar-content-datepicker {
	position: relative;
	display: inline-block;
	margin-top: 3px;
	left: 50%;
    transform: translateX(-50%);
}

.tool-item {
	padding: 5px;
}
.tool-container.tool-top, 
.tool-container.tool-bottom {
	height: 30px;
}

.tool-container {
	background-color: white !important;
	border: 2px solid #afafaf !important;
	box-shadow: 2px 3px 5px grey !important;
	cursor: default;
}

.arrow {
	border-color: transparent transparent #afafaf !important;
}

.tool-item > .fa {
	color: #3b30f1;
}


#action-menu-toolset {
	display: flex;
	/* padding-right: 5px; */
	/* max-width: 100px; */
	float: right;
	opacity: 1;
	transition: opacity 5.35s cubic-bezier(.165, .84, .44, 1),max-width 5.5s cubic-bezier(.165, .84, .44, 1);
}

#action-menu-toolset #icon-set {
	padding-right: 5px;
}

#test99 {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/* background-color: rgba(200,200,200, 0.5); */
	/* z-index: 10000; */
}

.fa-basic {
	font-size: 1.1em !important;
}

.fa-file-none,
.fa-folder-none,
.fa-calendar-none,
.fa-search-normal {
	color: #bbb !important;
}

.fa-explore-movable {
	color: #212529 !important;
}

.fa-sort-title {
	color: #11ad11 !important;
}

.tool-item {
	border-left: 1px solid transparent !important;
	border-right: 1px solid transparent !important;
}
.tool-item:hover {
	background-color: rgba(231, 233, 236, 0.5) !important;
	border-left: 1px solid rgba(225, 227, 230, 0.5) !important;
	border-right: 1px solid rgba(225, 227, 230, 0.5) !important;
}
.tool-item:first-child:hover {
	border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}
.tool-item:last-child:hover {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
.tool-item.selected {
	background-color: rgba(231, 233, 236, 0.5) !important;
}

.fa-sort-url {
	color: #e61c1c !important;
}

.icon-toolbar {
	display: inline-block;
	padding: 0 2px;
}

.fa-hover:hover {
	color: red !important;
}

#view-hide {
    position: absolute;
	right: 0;
}

#view-icon {
	margin-right: 5px;
}

.tool-container > div > span {
	padding: 5px;
	
}

#search-icon {
	cursor: pointer;
}

#search-option-panel {
	border-bottom: 1px solid #ced4da;
}

.fa-circle-thin:before,
.fa-question-circle-o:before,
.fa-registered:before {
	position: relative;
	top: 1px;
}




.picker {
	line-height: 1.3;	/* remove scrollbar */
}
.picker__select--month, 
.picker__select--year {
	padding: .1em;	/* fix */
}


.disabled {
	opacity: 0.4;
}

.left {
	float: left;
}
.right {
	float: right;
}
.center {
	text-align: center;
}

/*
.cursor-progress {
	cursor: progress !important;
}
*/

