/*------------------------------------------------*/
/* for Switch */
/*------------------------------------------------*/

.switch {
	position: relative;
	display: inline-block;
	font-size: 1.6em;
	font-weight: bold;
	color: #ccc;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
	height: 13px;
	padding: 6px 6px 5px 6px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	background: #ececec;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);
	cursor: pointer;

	float: right;
}

.switch .switch-toggle {
	position: absolute;
	/* top: 1px; */
	width: 37px;
	height: 25px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	background: #fff;
	background: -moz-linear-gradient(top,  #ececec 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #ececec 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #ececec 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #ececec 0%,#ffffff 100%);
	background: linear-gradient(top,  #ececec 0%,#ffffff 100%);

	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
	z-index: 999;

	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
}


/* Round Switch */
.switch.switch-round {
	padding: 0px 13px;
	border-radius: 40px;
	vertical-align: middle;
	
    margin: 0 7px;
}

.switch.switch-round .switch-toggle {
	border-radius: 40px;
	width: 11px;
	height: 11px;
}

.switch.switch-round.switch-on .switch-toggle { 
	left: 0%; 
	background: #3395da; 
}
.switch.switch-round.switch-off .switch-toggle { 
	left: 52%; 
}